body {
        background-image: url(images/station.jpg);
        background-size: cover;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        text-align: center;
    }
    
    h1 {
        margin-top: 10px;
        margin-bottom: 10px;
        color: rgb(109, 1, 233);
    }
    
    h2 {
        font-size: 50px;
        margin-top: 0;
        margin-bottom: 20px;
        color: rgb(3, 15, 175);
    }
    
    #increment-btn {
        border:2px solid black;
        padding-top: 10px;
        padding-bottom: 10px;
        color: rgb(79, 15, 228);
        background-color: lightgreen;
        font-weight: bold;
        width:200px;
        margin-bottom: 5px;
        border-radius: 5px;
    }
    
    #save-btn {
        border:2px solid black;
        padding-top: 10px;
        padding-bottom: 10px;
        color: rgb(72, 7, 224);
        background-color: lightgreen;
        font-weight: bold;
        width:200px;
        margin-bottom: 5px;
        border-radius: 5px;
    }
    
    #save-el {
        color:rgb(110, 0, 253);
    }